.slider {
  position: relative;

  padding-bottom: 93px;

  font-family: $hagin;
  color: $brown--dark;

  background-color: $brown--lighten;

  .swiper-wrapper,
  .swiper-slide {
    background-color: $brown--lighten;
  }


  .swiper-slide {
    opacity: 0.2;

    &-prev,
    &-active,
    &-next {
      opacity: 1;
    }
  }

  .swiper-wrapper {
    @include list-reset;
  }

  .catalog__brand {
    padding: 0 26%;
  }

  p {
    max-width: 845px;
    margin: 0 auto;
    margin-bottom: 40px;

    font-size: 22px;
    line-height: 30px;
    box-sizing: border-box;
    font-family: $roboto;
    text-align: center;
    letter-spacing: 0.2px;
  }

  .catalog__image {
    width: 283px;
    margin: 0 auto;

    &::before {
      left: 18.5%;
    }
  }

  .catalog__info br {
    display: block;
  }
}

.slider--accessories {
  br {
    display: none;
  }

  p {
    margin-bottom: 22px;
    padding: 0 3%;
  }

  .catalog__image {
    width: 178px;

    &::before {
      left: 0;
    }
  }

  .catalog__brand {
    padding: 0 20%;

    span {
      display: block;
    }
  }

  .slider__container-link {
    margin-top: 68px;
  }

  .slider__button {
    top: 420px;
  }

  .swiper-slide-next + li {
    opacity: 1;
  }
}

.slider--card {
  padding-bottom: 68px;

  .slider__title {
    margin-bottom: 38px;
    padding-left: 6.5%;
  }
}

.slider__container {
  position: relative;

  padding-top: 70px;
}

.slider__title {
  max-width: 1030px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 70px;

  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.slider__catalog {
  position: relative;

  margin: 0 auto;

  .catalog__bookmark {
    display: none;
  }
}

.slider__button {
  position: absolute;
  top: 495px;

  width: 15px;
  height: 40px;

  background-image: url("../img/icon-arrow.svg");
  block-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  transition-duration: 0.3s;

  color: transparent;

  z-index: 10;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition-duration: 0.3s;
  }

  &:active {
    opacity: 0.3;
    transition-duration: 0.3s;
  }

  &--back {
    left: 4.3%;
  }

  &--next {
    right: 4.6%;
    transform: rotate(180deg);
  }
}

.slider__container-link {
  position: relative;

  max-width: 1120px;
  margin: 0 auto;
  margin-top: 103px;

  display: flex;
  align-items: center;

  a {
    width: 24%;
    min-width: 196px;
    margin: 0 auto;
  }

  &::before,
  &::after {
    content: "";

    width: 10px;
    height: 1px;

    flex-grow: 1;
    flex-shrink: 0;

    background-color: $brown;
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }
}

@media (max-width: 1200px) {
  .slider--accessories {
    .slider__button {
      top: 600px;
    }
  }

  .slider__button {
    top: 650px;
  }

  .slider__container-link a {
    font-size: 22px;
  }
}

@media (max-width: $mobile-width) {
  .slider {
    padding-bottom: 28px;

    p {
      padding: 0 6%;
      margin-bottom: 29px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .slider--accessories {
    b {
      padding: 0 8%;
    }

    br {
      display: block;
    }

    p {
      margin-bottom: 28px;
      padding: 0 5%;
    }

    .slider__container {
      padding-top: 50px;
    }

    .slider__catalog {
      max-width: 178px;
    }

    .slider__button {
      top: 523px;
    }

    .slider__container-link {
      margin-top: 23px;
    }

    .catalog__brand {
      padding: 0 10%;
    }
  }

  .slider__title {
    padding: 0 5%;
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 30px;
  }

  .slider__container {
    padding-top: 24px;
  }

  .slider__button {
    top: 557px;
  }

  .slider__container-link {
    margin-top: 24px;

    a {
      line-height: 51px;
      min-height: 51px;
    }
  }
}
