// colors
$brown--lighten: #e9e1d5;
$brown--ligth: #baa480;
$brown: #9b8869;
$brown--dark: #817155;
$red: #ba4f4f;

//width
$modile-width: 320px;
$modile-max-width: 767px;
$tablet-width: 768px;
$modile-max-tablet: 1199px;
$desktop-width: 1200px;

//graphics
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
